/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
@import url(reset.css);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

@font-face {
  font-family: 'nexa_boldregular';
  src: url("../fonts/Nexa_Free_Bold-webfont.eot");
  src: url("../fonts/Nexa_Free_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Free_Bold-webfont.woff2") format("woff2"), url("../fonts/Nexa_Free_Bold-webfont.woff") format("woff"), url("../fonts/Nexa_Free_Bold-webfont.ttf") format("truetype"), url("../fonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular") format("svg");
  font-weight: normal;
  font-style: normal; }
a {
  color: #E74C3C; }
  a:hover {
    color: #E2361E; }

h2 {
  font-size: 20px;
  margin-bottom: 10px; }

html {
  background: #0d0d0d; }
  html h1, html h2, html h3, html h4, html h5, html h6 {
    font-family: "nexa_boldregular"; }

input, textarea {
  outline: none; }

input[type="text"],
textarea {
  border: 1px solid #CCC;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 8px 5px;
  resize: none; }

input[type="submit"] {
  background: #E74C3C;
  border: none;
  color: #FFF; }
  input[type="submit"]:hover, input[type="submit"]:focus {
    background: #E2361E;
    color: #FFF; }

body {
  font-family: Arial;
  background: #FFF url("../images/fond.png") top center no-repeat;
  background-size: cover; }
  body .wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding: 0 20px; }
    body .wrapper:after {
      content: "";
      display: table;
      clear: both; }
  body .wrapper-header {
    background: #FFF;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2000; }
    body .wrapper-header header {
      height: 70px;
      position: relative;
      z-index: 2000;
      max-width: 960px;
      margin: auto;
      padding: 0 20px; }
      body .wrapper-header header h1 {
        float: left;
        font-size: 40px;
        width: 98px;
        height: 49px;
        background: url("../images/logo.png") center center no-repeat;
        overflow: hidden;
        text-indent: -9999px;
        margin-top: 6px; }
        body .wrapper-header header h1 a {
          display: block;
          height: 49px; }
      body .wrapper-header header #user-space {
        top: 25px;
        position: absolute;
        right: 0;
        text-transform: lowercase; }
        body .wrapper-header header #user-space a {
          text-decoration: none;
          color: #555;
          font-family: arial;
          font-size: 14px;
          display: inline-block;
          margin: 0 10px; }
      body .wrapper-header header #top-search {
        position: absolute;
        left: 230px;
        top: 17px; }
        body .wrapper-header header #top-search fieldset {
          border: 1px solid #CCC;
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
          display: inline-block;
          -webkit-border-radius: 3px 0 0 3px;
          -moz-border-radius: 3px 0 0 3px;
          -ms-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px; }
        body .wrapper-header header #top-search input {
          border: none;
          outline: none; }
        body .wrapper-header header #top-search .place, body .wrapper-header header #top-search .key-word {
          background: transparent;
          font-size: 14px;
          padding: 8px 5px; }
        body .wrapper-header header #top-search .place {
          border-left: 1px dotted #EEE; }
        body .wrapper-header header #top-search input[type="submit"] {
          -webkit-border-radius: 0 3px 3px 0;
          -moz-border-radius: 0 3px 3px 0;
          -ms-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
          width: 34px;
          height: 34px;
          margin-right: 7px;
          margin-left: -5px;
          background-color: #34495e;
          color: #FFF;
          border: 1px solid #E2361E;
          background-image: url("../images/submit_arrow.png");
          background-position: center center;
          background-repeat: no-repeat;
          color: transparent;
          background-color: #E74C3C; }
          body .wrapper-header header #top-search input[type="submit"]:hover {
            background-color: #E2361E; }

.pop {
  background: #FFF;
  border: 1px #DDD solid;
  display: none;
  padding: 20px 10px;
  position: fixed;
  top: 200px;
  width: 600px;
  left: 50%;
  margin-top: 10px;
  margin-left: -300px;
  z-index: 10000; }
  .pop h2 {
    color: #E74C3C;
    font-family: 'nexa_boldregular';
    text-align: center;
    text-transform: uppercase; }
  .pop input {
    border-radius: 3px; }
  .pop input[type="text"],
  .pop input[type="password"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin-bottom: 14px;
    outline: none; }

#connexion .forget-pass {
  display: block;
  font-size: 12px; }
#connexion > div {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 0 20px; }
  #connexion > div:last-child {
    margin-right: 0; }
#connexion .checkbox {
  margin-bottom: 10px;
  padding-top: 0; }
  #connexion .checkbox input {
    height: 18px;
    width: 18px;
    margin-right: 10px; }
  #connexion .checkbox label {
    line-height: 27px;
    font-size: 14px; }
#connexion .forget-pass {
  color: #E74C3C; }
#connexion input[type="submit"] {
  width: 100%; }

.large {
  background: #FFF; }
  .large #content {
    box-shadow: none;
    padding: 0;
    margin: 0;
    max-width: none; }
  .large h2 {
    font-size: 34px;
    color: #E74C3C; }

#home {
  background: #FFF; }
  #home #content {
    box-shadow: none;
    padding: 0;
    margin: 0;
    max-width: none; }
  #home #img_and_map {
    width: 100%;
    height: 500px;
    overflow: hidden;
    -overflow-x: scroll;
    z-index: 1;
    margin: 0;
    padding: 0;
    border-bottom: 5px #e74c3c solid; }
    #home #img_and_map.active ul {
      margin-left: -100%; }
    #home #img_and_map ul {
      -webkit-transition: margin-left 0.6s linear 0;
      transition: margin-left 0.6s linear 0;
      width: 200%;
      overflow: hidden;
      height: 100%; }
    #home #img_and_map ul li {
      margin: 0;
      padding: 0;
      /* display: inline; */
      width: 50%;
      float: left;
      height: 100%; }
    #home #img_and_map .home {
      height: 100%;
      display: block;
      background: url("../images/background_img_1.jpg") bottom left no-repeat;
      background-size: cover;
      margin: 0;
      padding: 0; }
      #home #img_and_map .home > div.wrapper {
        background: url("../images/hand_phone.png") bottom right no-repeat;
        height: 100%;
        line-height: 500px; }
      #home #img_and_map .home #home_wrapper {
        max-width: 960px;
        margin: 0 auto;
        padding-left: 50px;
        position: relative;
        line-height: normal;
        display: inline-block;
        vertical-align: middle; }
        #home #img_and_map .home #home_wrapper h2 {
          width: 600px;
          padding: 0;
          font-size: 40px;
          line-height: 35px;
          color: #1a2530;
          color: #FFF;
          font-family: 'nexa_boldregular';
          margin-bottom: 20px;
          text-transform: uppercase;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          word-spacing: 7px; }
        #home #img_and_map .home #home_wrapper p {
          width: 500px;
          padding: 0;
          font-size: 18px;
          color: #1a2530;
          -font-family: tahoma;
          margin-bottom: 30px;
          font-weight: bold; }
        #home #img_and_map .home #home_wrapper img {
          position: absolute;
          bottom: 0;
          right: 20px; }
        #home #img_and_map .home #home_wrapper a.web_use {
          display: inline-block;
          padding: 15px 15px;
          background-color: #E74C3C;
          color: #ffffff;
          -font-family: tahoma;
          font-size: 16px;
          box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3);
          margin-top: 20px;
          border-radius: 3px;
          border: 1px solid #C94343; }
        #home #img_and_map .home #home_wrapper a:hover {
          background: #E2361E;
          text-decoration: none; }
    #home #img_and_map #bigmap {
      width: 100%;
      height: 100%;
      border: none; }
  #home section {
    max-width: 960px;
    margin: auto;
    padding: 60px 20px;
    background: url("../images/hand_phone.png") center right no-repeat; }
    #home section > div {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%; }
      #home section > div:last-child {
        margin-right: 0; }
    #home section h2 {
      font-family: 'nexa_boldregular';
      font-size: 34px;
      color: #e74c3c;
      text-transform: uppercase;
      -margin: 0 0 0 50px; }
    #home section p {
      clear: both;
      width: 500px;
      font-family: tahoma;
      font-size: 16px;
      line-height: 1.4em;
      color: #1a2530;
      text-align: justify;
      margin: 20px 0 10px; }
    #home section span.riddde {
      font-family: 'nexa_boldregular';
      font-size: 18px;
      color: #1a2530; }
    #home section a {
      display: inline-block;
      padding: 15px 15px;
      background-color: #e74c3c;
      color: #ffffff;
      -font-family: tahoma;
      font-size: 16px;
      margin-top: 20px;
      border-radius: 3px;
      text-align: center; }
      #home section a span {
        display: block;
        font-size: 12px; }
    #home section a:hover {
      background: #E2361E;
      text-decoration: none; }
  #home .step {
    text-align: center;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    #home .step:last-child {
      margin-right: 0; }

/* ICONS : SEARCH / FIND / RIDE */
#icons {
  margin: auto;
  text-align: center;
  -width: 640px;
  padding: 60px 0;
  background: #F3F3F3; }
  #icons .icon {
    width: 33.33%;
    display: block;
    float: left; }
    #icons .icon h3.picons {
      color: #1a2530;
      font-family: 'nexa_boldregular';
      text-transform: uppercase;
      font-size: 18px;
      margin: 30px 0 0 0;
      text-align: center;
      width: auto; }
    #icons .icon p {
      margin-top: 20px;
      padding: 0 60px;
      font-size: 14px;
      line-height: 1.6em; }

#content {
  margin: 80px auto 50px;
  max-width: 960px; }
  #content .welcome {
    padding: 50px 50px 55px 70px;
    width: 620px;
    float: left; }
    #content .welcome p {
      text-transform: uppercase;
      font-size: 13px;
      line-height: 15px;
      text-align: justify;
      word-wrap: break-word; }
    #content .welcome p + p {
      margin-top: 15px; }
    #content .welcome #content-search {
      margin-top: 10px; }

.app {
  float: left;
  padding-top: 50px;
  padding-left: 5px; }
  .app div.os {
    height: 70px;
    margin-bottom: 12px;
    width: 265px;
    border: 1px #DEDDE5 solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .app div.os a {
      display: block;
      font-family: Arial;
      height: 70px; }
      .app div.os a span {
        display: block;
        font-size: 12px;
        color: #AEBECB;
        padding: 15px 0 8px; }
      .app div.os a strong {
        color: #5D7287;
        text-transform: uppercase;
        font-weight: bold; }
    .app div.os a:hover {
      text-decoration: none; }
    .app div.os a:before {
      background-color: #EEE;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #FFF, #EEE);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(top, #FFF, #EEE);
      /* FF3.6 */
      background-image: -ms-linear-gradient(top, #FFF, #EEE);
      /* IE10 */
      background-image: -o-linear-gradient(top, #FFF, #EEE);
      /* Opera 11.10+ */
      background-image: linear-gradient(top, #FFF, #EEE);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#FFF', EndColorStr='#EEE');
      height: 68px;
      float: left;
      width: 70px;
      margin-right: 14px;
      border-right: 1px #DDD solid;
      padding-top: 10px;
      line-height: 68px;
      text-align: center;
      -webkit-border-radius: 5px 0 0 5px;
      -moz-border-radius: 5px 0 0 5px;
      -ms-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px; }
    .app div.os a.apple:before {
      content: url("../images/apple-logo.png"); }
    .app div.os a.android:before {
      content: url("../images/android-logo.png"); }
    .app div.os a.windows:before {
      content: url("../images/windows-logo.png"); }

.map-zone {
  position: relative;
  display: none; }
  .map-zone .search input {
    padding: 5px;
    height: 36px;
    border: 1px green solid;
    max-width: 96px; }
  .map-zone #bigmap {
    margin: 10px 0;
    border: none; }
  .map-zone #phone {
    background: url("../images/iphone.png");
    background-size: 100%;
    height: 470px;
    width: 270px;
    position: absolute;
    top: -40px;
    right: 35px;
    padding: 85px 46px; }
    .map-zone #phone form {
      margin: 0; }

.geoloc {
  background: url("../images/geo.png") no-repeat;
  height: 32px;
  width: 32px;
  display: inline-block;
  text-indent: 32px;
  overflow: hidden;
  vertical-align: middle; }

#bigmap {
  height: 410px;
  margin: 0 0 10px;
  background: #EEE;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.spot {
  margin: 5px;
  border: 1px #DDD solid;
  padding: 10px; }

.content {
  background: #FFF;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 10px; }

section#profil {
  -background: #EEE; }
  section#profil > * {
    padding: 10px; }
  section#profil .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    section#profil .content:last-child {
      margin-right: 0; }
    section#profil .content span {
      float: left;
      display: block;
      margin-right: 3.16844%;
      width: 42.6842%;
      margin-bottom: 5px; }
      section#profil .content span:last-child {
        margin-right: 0; }
    section#profil .content .thumbnail {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      height: auto; }
      section#profil .content .thumbnail:last-child {
        margin-right: 0; }
      section#profil .content .thumbnail:nth-child(4n) {
        margin-right: 0; }
      section#profil .content .thumbnail:nth-child(4n+1) {
        clear: left; }
  section#profil aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: center;
    background: #FFF;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3); }
    section#profil aside:last-child {
      margin-right: 0; }
    section#profil aside h1 {
      font-size: 30px;
      padding-bottom: 20px; }
    section#profil aside h1:first-letter {
      text-transform: uppercase; }
    section#profil aside header span {
      margin-bottom: 10px; }
    section#profil aside img {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      margin: 0 0 20px;
      width: 100%;
      height: auto;
      max-width: 200px;
      max-height: 200px; }
    section#profil aside div {
      padding: 30px 0; }
    section#profil aside span {
      display: block; }
    section#profil aside span.count {
      color: #E74C3C;
      font-size: 50px; }
      section#profil aside span.count + span {
        font-weight: bold;
        margin-top: 10px;
        color: #444; }
  section#profil header {
    border-bottom: 1px #EEE solid;
    padding-bottom: 10px; }

/*------------------ SPOT --------------------*/
section#spot h1 {
  color: #E74C3C;
  font-size: 50px;
  -border-bottom: 1px #333 solid;
  margin-bottom: 30px;
  text-shadow: 1px -1px 0px #831500; }
  section#spot h1 .coord {
    color: #333;
    display: block;
    font-size: 14px;
    text-shadow: none; }
section#spot h2 {
  margin-top: 1em;
  font-size: 36px; }
section#spot h3 {
  margin-bottom: 0.5em; }
section#spot .thumbnail {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  height: auto;
  transition: none; }
  section#spot .thumbnail:last-child {
    margin-right: 0; }
  section#spot .thumbnail:nth-child(4n) {
    margin-right: 0; }
  section#spot .thumbnail:nth-child(4n+1) {
    clear: left; }
section#spot article > div {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  section#spot article > div:last-child {
    margin-right: 0; }
section#spot .description {
  line-height: 1.4em;
  margin-bottom: 2em; }
section#spot #photos {
  padding-left: 30px; }
  section#spot #photos div img {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%;
    height: auto;
    margin-bottom: 1.5em; }
    section#spot #photos div img:last-child {
      margin-right: 0; }
    section#spot #photos div img:nth-child(3n) {
      margin-right: 0; }
    section#spot #photos div img:nth-child(3n+1) {
      clear: left; }
  section#spot #photos input[type="file"] {
    margin: 10px 0;
    padding: 5px; }

#comment {
  margin-bottom: 20px; }
  #comment textarea {
    width: 100%; }
  #comment form {
    background: #EEE;
    border: 1px #DDD solid;
    padding: 10px;
    margin-bottom: 20px; }
    #comment form textarea {
      border: 1px #DDD solid;
      font-size: 14px;
      padding: 10px;
      resize: none; }
  #comment .comment {
    margin-bottom: 20px;
    min-height: 50px;
    padding-top: 10px; }
    #comment .comment img {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      height: 50px;
      width: 50px;
      float: left;
      margin-right: 16px; }
    #comment .comment .author {
      display: block;
      font-weight: bold;
      margin-bottom: 10px; }
      #comment .comment .author:first-letter {
        text-transform: uppercase; }
    #comment .comment p, #comment .comment a {
      padding-left: 66px;
      line-height: 1.4em; }
    #comment .comment a {
      margin-top: 10px;
      display: block; }
  #comment .comment + .comment {
    border-top: 1px solid #EEE;
    padding-top: 20px; }

#add_spot {
  min-height: 400px;
  padding-bottom: 60px;
  padding-top: 60px; }
  #add_spot h2 {
    margin: 0 0 1em; }
  #add_spot .info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    #add_spot .info:last-child {
      margin-right: 0; }
    #add_spot .info input {
      margin-bottom: 10px;
      width: 100%; }
  #add_spot .description {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    height: 78px; }
    #add_spot .description:last-child {
      margin-right: 0; }
  #add_spot input[type="submit"] {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    background: #E74C3C url("../images/submit_add.png") center center no-repeat;
    background-size: auto 100%;
    color: transparent;
    margin-right: 0;
    font-size: 30px;
    height: 78px; }
    #add_spot input[type="submit"]:last-child {
      margin-right: 0; }

#file {
  margin-top: 20px;
  clear: both;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #file:last-child {
    margin-right: 0; }
  #file label {
    background: #EEE;
    border: 1px solid #CCC;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 5px;
    height: 48px;
    line-height: 24px;
    width: 100%; }
  #file input {
    opacity: 0;
    position: absolute; }
  #file.complete label {
    background: #70BE76 url("../images/check.png") 20px center no-repeat;
    border-color: #5ea25e;
    color: #FFF; }

/*----------------- FOOTER ---------------------*/
footer {
  background: #0d0d0d;
  width: 100%;
  padding: 0 20px 30px; }
  footer #footer_wrapper {
    border-top: 1px dotted #333;
    max-width: 960px;
    margin: 50px auto 0;
    padding-top: 10px; }
    footer #footer_wrapper img {
      width: 960px;
      margin: 50px auto 10px auto; }
    footer #footer_wrapper p {
      float: left;
      margin: 0;
      color: #727272;
      font-family: tahoma;
      font-size: 13px; }
    footer #footer_wrapper ul {
      padding: 0;
      width: 300px;
      text-align: right;
      float: right; }
      footer #footer_wrapper ul li {
        display: inline-block;
        width: auto;
        padding: 0 0 0 50px; }
        footer #footer_wrapper ul li a {
          text-decoration: none;
          color: #727272;
          font-family: tahoma;
          font-size: 13px;
          margin: 0; }
        footer #footer_wrapper ul li a:hover {
          color: #FFF; }

/*# sourceMappingURL=screen.css.map */
